
.field[b-i9e8bmy6vm] {
    margin-top: 20px;
}

.acceptbtn[b-i9e8bmy6vm] {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-i9e8bmy6vm] {
    margin-top: 15px;
}

